extends layout

block content
  h1= title
  p Welcome to #{title}

  br

  h2= request
  p at  #{time}


  br
  br

  h3 Request Headers

  table
      thead
          tr: th
              tbody
                  each header, name in headers
                      tr
                          td= name.toUpperCase()
                          td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          td= header
  br
  br
  br

  h3 Request Body

  table
      thead
          tr: th
              tbody
                  if body
                      each value, key in body
                          tr
                              td= key.toUpperCase()
                              td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              td= value
                  else
                      tr
                          td None