extends layout

block content
    h1= title
    p Welcome to #{title}

    br

    each request in requests
        h2= request.request
        p at  #{request.time}

        br
        br

        h3 Request Headers

        table
            thead
                tr: th
                    tbody
                        each header, name in request.headers
                            tr
                                td= name.toUpperCase()
                                td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                td= header
        br
        br
        br

        h3 Request Body

        table
            thead
                tr: th
                    tbody
                        if request.body
                            each value, key in request.body
                                tr
                                    td= key.toUpperCase()
                                    td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    td= value
                        else
                            tr
                                td None
        br
        br

        hr

        br